.header {
    background-color: blanchedalmond;
    width: 100%;
    height: 50px;
    margin: 3px;
}

.banner {
    height: 100px;
    width: 100%;
    background-color: rgb(132, 168, 132);
    margin: 0px;
    align-items: center;
}

.banner p{
    margin-left: 600px;
    margin-bottom: 3px;
    position: absolute;
    margin-top: 40px;
}

.section-1 {
    height: 200px;
    width: 100%;
}

.span-1{
    height: 150px;
    width: 150px;
    background-color: rgb(189, 106, 127);
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
    
}

.span-2{
    height: 150px;
    width: 150px;
    background-color: rgb(189, 106, 127);
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.span-13{
    height: 150px;
    width: 150px;
    background-color: rgb(189, 106, 127);
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.span-14{
    height: 150px;
    width: 150px;
    background-color: rgb(189, 106, 127);
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.span-3 {
    height: 105px;
    width: 50%;
    float: left;
    position: absolute;
    margin: 1px;
    background-color: darkcyan;
}

.span-4 {
    height: 100px;
    width: 610px;
}


.span-5{
    height: 30px;
    width: 610px;
    display: block;
   background-color: rgb(175, 35, 168);
   margin-left: 635px;
   margin-top: 12px;
}

.span-6{
   height: 30px;
   width: 610px;
   display: block;
  background-color: rgb(175, 35, 168);
  margin-left: 635px;
  margin-top: 8px;
}

.span-7{
   height: 30px;
   width: 610px;
   display: block;
  background-color: rgb(175, 35, 168);
  margin-left: 635px;
  margin-top: 8px;
}

.span-8 {
    height: 100px;
    width: 23.5%;
    float: left;
    position: relative;
    left: 5px;
    margin: 4px;  
    background-color: blanchedalmond;
    padding: 3px;
}

.span-9 {
    height: 100px;
    width: 23.5%;
    float: left;
    position: relative;
    left: 0px;
    margin: 4px; 
    background-color: antiquewhite; 
    padding: 3px;
}

.span-10 {
    height: 100px;
    width: 23.5%;
    float: left;
    position: relative;
    margin: 4px;  
    padding: 3px;
    background-color: burlywood;
}

.span-11 {
    height: 100px;
    width: 23.5%;
    float: left;
    position: relative;
    margin: 4px;  
    padding: 3px;
    background-color: yellow;

}


 .section-2 {
     height: 100px;
     width: 49%;
     margin-bottom: 20px;
 }

 .section-3 {
    border: 1px black solid;
    height: 130px;
    width: 495px;
 }

 .section-part {
    height: 100px;
     margin-top: 30px;
     width: 100%;
 }

 .circle-1, .circle-2, .circle-3, .circle-4 {
     position: absolute;
     margin-left: 40px;
     margin-top: 50px;
 }

 .home, .about, .blog, .contact, .service{
     margin-left: 160px;
     float: left;
     text-align: center;
     padding-bottom: 6px;
     padding-left: 8px;
     padding-right: 8px;
     font-size: 17px;
     z-index: 1;
 }


.section-one {
    margin-left: 600px;
}
.section-two {
    margin-left: 600px; 
}

.section-three {
    margin-left: 600px;
margin-top: 15px;
}

/* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .home, .about, .blog, .contact, .service{
            font-size: 7px;
        }
    }


