/* 
.header {
    background-color: crimson;
    height: 100px;
}
  
  .section-1{
    width: 200px;
    position: absolute;
    height: 100%;
    background-color: darkblue;
  }
  

  
  div.section-2 {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    background-color: darkgreen;
  } */

  .main-div {
      display: grid;
      grid-template-columns: 20vw auto;
  }

  .section-1 {
      position: absolute;
      width: 257px;
      height: 550px;
      background-color: rgb(187, 46, 180);
  }

  .section-2 {
      grid-column-start: 2;
      background-color: rgb(168, 79, 185);
      height: 550px;
  }

  .header{
      background-color: darkmagenta;
      height: 80px;
  }

  .footer {
      background-color: rgb(139, 32, 122);
      z-index: 1;
      height: 10px;
      padding: 20px;
  }